body {
    background-image: url("../images/shenron.jpg");
    background-repeat: no-repeat;
    background-position: 0px 50px;
    background-attachment: fixed;
    background-size : 100% auto;
    background-color: black;
}

.landing-title {
    font-size: 80px;
    color: white;
}

#home {
    margin-top:50px;
    height: 100%;
    /*Horiztonally and vertically centering content"*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}