body {
    background-image: url("../images/shenron.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size : 100% auto;
    background-color: black;
    width:100%;
}